# Dependensi Utama
python>=3.8,<3.12
pycryptodome>=3.15.0
requests>=2.28.1
pysocks>=1.7.1

# GUI
tkinter>=8.6
ttkthemes>=3.2.2

# Jaringan dan Concurrency
p2pnetwork>=1.0
thread6>=0.2.0

# Utility
python-dotenv>=0.21.0
loguru>=0.6.0

# Format Data
simplejson>=3.17.6

# Untuk Pengembangan
black>=22.10.0
flake8>=5.0.4
pytest>=7.2.0
pytest-cov>=4.0.0

# Tambahan untuk GUI Modern
customtkinter>=5.1.2
Pillow>=9.3.0

# Untuk dokumentasi otomatis (opsional)
sphinx>=5.3.0
sphinx-rtd-theme>=1.1.1
